﻿.activity_content {
    background: #f8f8f5;
    border: #b5b5b5 1px solid;
}

body {
    font-size: 16px;
    font-family: Microsoft JhengHei;
}

.base_header {
    position: fixed;
    height: 60px;
    line-height: 60px;
    top: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    background: white;
}

.content_message {
    line-height: 40px;
    color: #5b5b5b;
    width: 1024px;
    margin: 0 auto;
    /*padding: 0 20px ;*/
    /*padding-top: 20px;*/
}

    .content_message .title a {
        color: #009fed;
        text-decoration: none;
    }

    .content_message .question .row {
        padding: 5px 0px;
    }

    .content_message .question .subtitle_left {
        padding-left: 0;
    }

    .content_message .question_content {
        color: #5b5b5b;
        background: #f5f5f5;
    }

    .content_message .row {
        padding: 30px;
        margin: 0;
    }

    .content_message > .row:nth-child(even) {
        background: #f5f5f5;
    }

    .content_message .title {
        color: #009fed;
        margin-bottom: 50px;
    }

    .content_message .subtitle {
        color: #009fed;
    }


.contact_info_header {
    color: #f5f5f5;
    padding: 30px 0 0 0;
}


.contact_info_content {
    color: #cbcbcb;
    padding: 20px 0;
}

    .contact_info_content a {
        color: #cbcbcb;
        text-decoration: none;
    }

        .contact_info_content a:hover {
            font-size: 20px;
            font-weight: bold;
            color: #1bb6b7;
        }

.delete_word_line {
    text-decoration: line-through;
    /*color: #c8c8c8;*/
}

.fix_width {
    width: 1024px;
}

.footer {
    width: 99%;
    line-height: 20px;
    font-size: 12px;
}

.header_menu div a {
    width: 100%;
    color: #8c8c8c;
    text-decoration: none;
}

    .header_menu div a:hover {
        font-size: 20px;
        font-weight: bold;
        color: #1bb6b7;
    }

    .header_menu div a.active {
        color: #4a5154;
        font-size: 18px;
    }

.main_content {
    /*padding-bottom: 20px;*/
    width: 99%;
}

.main_picture {
    margin-top: 60px;
    /*padding-bottom: 20px;*/
}

.active_photo {
    width: 240px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.preferential_word {
    color: #d60c18;
}

.shuli {
    margin: 0 auto;
    width: 20px;
    line-height: 24px;
    text-align: justify;
    text-justify: inter-ideograph;
    /*border: 1px solid #333;*/
}

.signup_button {
    /*-webkit-appearance: button;*/
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: white;
    background: #4a5154;
}

    .signup_button.btn:hover {
        color: white;
        text-decoration: none;
    }

.table tbody tr td, .table tbody tr th, .table thead tr th {
    line-height: 30px;
}


.table.agenda_table tbody tr th,
.table.agenda_table thead tr th {
    padding: 10px 0 10px 20px;
}

.table.agenda_table tbody tr td {
    padding: 10px 0 10px 5px;
}

.table_borderless {
    margin: 0 auto;
}

    .table_borderless tbody tr td, .table_borderless tbody tr th, .table_borderless thead tr th {
        border: none;
    }
